# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll

# C extensions
*.c
*.cpp

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec


# Error logs
logs/
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# External libraries and binaries
lib/external/*
!lib/external/.gitinclude
ea_compiled/*
!ea_compiled/.gitinclude
lib/ea/*
!lib/ea/.gitinclude
*.zip
*.7z
*.tar.gz
*.tar
*.rar
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db
